.height-7 {
    height: 7vh;
    padding: 0.25rem;
}

.height-8 {
    height: 8.33vh;
    padding: 0.25rem;
}

.height-12 {
    height: 12.66vh;
    padding: 0.25rem;
}

.height-18 {
    height: 18vh;
    padding: 0.25rem;
}

.height-22 {
    height: 22.22vh;
    padding: 0.25rem;
}

.height-25 {
    height: 25vh;
    padding: 0.25rem;
}

.height-30 {
    height: 33.33vh;
    padding: 0.25rem;
}

.height-50 {
    height: 50vh;
    padding: 0.25rem;
}

.height-60 {
    height: 66.66vh;
    padding: 0.25rem;
}