.height-auto {
    height: 70%;
}

.volume_4_1 {
    height: 10%;
}

.volume_4_2 {
    height: 15%;
}

.volume_4_3 {
    height: 20%;
}

.volume_4_4 {
    height: 25%;
}

.volume_4_5 {
    height: 30%;
}

.volume_4_6 {
    height: 35%;
}

.volume_4_7 {
    height: 40%;
}

.volume_4_8 {
    height: 45%;
}

.volume_4_9 {
    height: 50%;
}

.volume_4_10 {
    height: 55%;
}

.volume_4_11 {
    height: 10%;
}

.volume_4_12 {
    height: 65%;
}

.volume_5_1 {
    height: 70%;
}

.volume_5_2 {
    height: 5%;
}

.volume_5_3 {
    height: 80%;
}

.volume_5_4 {
    height: 55%;
}

.volume_5_5 {
    height: 30%;
}

.volume_5_6 {
    height: 5%;
}

.h-30 {
    height: 33.33%;
}

.height-6 {
    height: 6vh;
}

.height-12 {
    height: 12vh;
}

.height-15 {
    height: 15.34vh;
}

.height-17 {
    height: 17.8vh;
}

.height-18 {
    height: 18vh;
}

.height-25 {
    height: 25vh;
}

.height-30 {
    height: 33.34vh;
}

.height-50 {
    height: 50vh;
}

.height-54 {
    height: 54.66vh;
}

.height-60 {
    height: 66.66vh;
}

.font {
    font-size: 1.05rem;
}